@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "Syncopate";
    src: url("../fonts/Syncopate/Syncopate-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "Syncopate";
    src: url("../fonts/Syncopate/Syncopate-Bold.ttf") format("ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope/Manrope-Regular.ttf") format("ttf");
}
@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope/Manrope-SemiBold.ttf") format("ttf");
    font-weight: 600;
}