// start main-page

section.main-page  
    .container 
        header.header 
            .header__inner 
                .header__logo 
                    img(src="./images/logo.png", alt="Lime Stream")
                nav.header__menu
                    ul.header__menu-list 
                        li
                            a(href="#") About
                        li
                            a(href="#") Pricing
                        li
                            a(href="#") Contacts
        h1.main-page__title.title Live-Stream your next event with us
        .main-page__icons 
            .icons
                img(src="./images/instagram.svg", alt="in")
                img(src="./images/facebook.svg", alt="fb")
                img(src="./images/youtube.svg", alt="yt")
                img(src="./images/twitch.svg", alt="tw")
                img(src="./images/vimeo.svg", alt="vm")
                img(src="./images/instagram.svg", alt="in")
                img(src="./images/facebook.svg", alt="fb")
                img(src="./images/youtube.svg", alt="yt")
                img(src="./images/twitch.svg", alt="tw")
                img(src="./images/vimeo.svg", alt="vm")
        a.main-page__right(href="#") Scroll right
            span 
                img(src="./images/right.svg", alt=">")
                img(src="./images/right.svg", alt=">")
                img(src="./images/right.svg", alt=">")
                img(src="./images/right.svg", alt=">")
// end main-page