// start stream

.stream 
    .stream__inner 
        .stream__title.title Why stream with us ?
        p.stream__text Unlike any other live-streaming company, we are not trying to make this process look <br> more complicated than it already is just for the sake of increasing the price
        .stream__diag 
            .stream__item no <br> stress
                .stream__item-text We use modern technologies and gadgets to deliver the highest quality image possible
            .stream__item no <br> overpaying
                .stream__item-text You won’t be paying for unnecessary logistics, marketing and fees.
            .stream__item no <br> pain
                .stream__item-text We’re not just an income-driven company, but a passion-driven group of proffesionals who enjoy what they do.
// end stream