// start we-do

.we-do 
    .we-do__inner 
        .we-do__title.title What we do ?
        p.we-do__text As versatile the world gets, so do our services. With a specific <br> approach to every single one, we cover a variety of different <br> types of events like
        .we-do__images  
            .we-do__left   
                .we-do__img 
                    img(src="./images/we-do/item1.jpg", alt="image")
                    .we-do__img-text 
                        p Corporate Events and Conferences
                .we-do__img 
                    img(src="./images/we-do/item2.jpg", alt="image")
                    .we-do__img-text 
                        p Concerts and Live Performances
                .we-do__img 
                    img(src="./images/we-do/item4.jpg", alt="image")
                    .we-do__img-text 
                        p College and High school Graduation Ceremonies
            .we-do__right
                .we-do__img 
                    img(src="./images/we-do/item3.jpg", alt="image")
                    .we-do__img-text 
                        p Religious and Spiritual rituals

// end we-do